.wp-pt-hidden {
	overflow: hidden;
}

.wp-pt-popup-overlay .wp-pt-internal-message {
	margin: 3px 0 3px 22px;
	display: none;
}

.wp-pt-reason-input {
	margin: 3px 0 3px 22px;
	display: none;
}

.wp-pt-reason-input input[type="text"] {
	width: 100%;
	display: block;
}

.wp-pt-popup-overlay {
	background: rgba(0, 0, 0, .8);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1000;
	overflow: auto;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	display: flex;
	justify-content: center;
	align-items: center;
}

.wp-pt-popup-overlay.wp-pt-active {
	opacity: 1;
	visibility: visible;
}

.wp-pt-serveypanel {
	width: 600px;
	background: #fff;
	margin: 0 auto 0;
	border-radius: 3px;
}

.wp-pt-popup-header {
	background: #f1f1f1;
	padding: 20px;
	border-bottom: 1px solid #ccc;
}

.wp-pt-popup-header h2 {
	margin: 0;
	text-transform: uppercase;
}

.wp-pt-popup-body {
	padding: 10px 20px;
}

.wp-pt-popup-footer {
	background: #f9f3f3;
	padding: 10px 20px;
	border-top: 1px solid #ccc;
}

.wp-pt-popup-footer:after {
	content: "";
	display: table;
	clear: both;
}

.action-btns {
	float: right;
}

.wp-pt-anonymous {
	display: none;
}

.attention, .error-message {
	color: red;
	font-weight: 600;
	display: none;
}

.wp-pt-spinner {
	display: none;
}

.wp-pt-spinner img {
	margin-top: 3px;
}

.wp-pt-pro-message {
	padding-left: 24px;
	color: red;
	font-weight: 600;
	display: none;
}

.wp-pt-popup-header {
	background: none;
	padding: 18px 15px;
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .1);
	box-shadow: 0 0 8px rgba(0, 0, 0, .1);
	border: 0;
}

.wp-pt-popup-body h3 {
	margin-top: 0;
	margin-bottom: 30px;
	font-weight: 700;
	font-size: 15px;
	color: #495157;
	line-height: 1.4;
	text-transform: uppercase;
}

.wp-pt-reason {
	font-size: 13px;
	color: #6d7882;
	margin-bottom: 15px;
}

.wp-pt-reason input[type="radio"] {
	margin-right: 15px;
}

.wp-pt-popup-body {
	padding: 30px 30px 0;
}

.wp-pt-popup-footer {
	background: none;
	border: 0;
	padding: 29px 39px 39px;
}
